useDynLib("ternarynet")

importFrom(utils, citation, toBibtex)
importFrom(igraph, graph.edgelist, plot.igraph, tkplot)

export(tnetfit,tnetpost,ternaryFit,ternaryFitParameters,ternaryPost,graphPosterior,attractorSummary,plotTraces,plotFit,plotPost,predictAttractor,simulateSteadyState)

exportClasses(ternaryFitParameters,ternaryFit,ternaryPost)

exportMethods(dim,perturbationObj,steadyStateObj,geneNames,experimentNames,degreeObjMin,graphObjMin,tableObjMin,newScore,minScore,finalTemperature,traces,stageCount,xSeed,inputParams,show,"perturbationObj<-","steadyStateObj<-","geneNames<-","experimentNames<-","degreeObjMin<-","graphObjMin<-","tableObjMin<-","newScore<-","minScore<-","finalTemperature<-","traces<-","stageCount<-","xSeed<-","inputParams<-")

exportMethods(perturbationType,scoreType,backupStage, maxStage, maxTransition, epsilon, beta0, chi0, delta, ne, m0, maxDegree, pAddParent, pExchangeParent, neighborDegree, pNeighborhood, rho, edgePenalty,show,"perturbationType<-","scoreType<-","backupStage<-","maxStage<-","maxTransition<-","epsilon<-","beta0<-","chi0<-","delta<-","ne<-","m0<-","maxDegree<-","pAddParent<-","pExchangeParent<-","neighborDegree<-","pNeighborhood<-","rho<-","edgePenalty<-")

exportMethods(scores,degreeObjs,graphObjs,tableObjs,"scores<-","degreeObjs<-","graphObjs<-","tableObjs<-")

